body{
    background-color: rgb(253, 255, 255);
    padding: 0;
    margin: 0;
    font-family: Poppins;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
li{
    display: inline-block;
    padding: 0px 15px;
    font-size: 18px;
    color: #bdb8b8;
}
li:hover{
    color:black;
    font-size: 20px;
    
}
.nav-button{
    width: 130px;
    height: 45px;
    background-color: rgba(129, 0, 250, 0.993);
    color: #ffffff;
    border-radius: 16px;
    border: none;
    font-size: 15px;
}
.right img{
   height: 580px;
   float: right;
}
.left{
    position: absolute;
    width: 40%;
    text-align: center;
    left: 8%;
}
.heading-text{
    font-size: 60px;
    font-family: Poppins;
    padding: 0 5%;
    color: #02276b;
    margin-bottom: 5px;
}
.description{
    font-size: 13px;
    color: #bdb8b8; 
    width: 300px;
    text-align: left; 
    padding-left: 22%;
}
.button_btn{
    position: relative;
   width: 220px;
   height: 60px;
   background-color:rgba(129, 0, 250, 0.993);
   color: #ffffff;
   border-radius: 16px;
   border: none;
   font-size: 15px;
   margin-top: 10%;
   float: left;
   margin-left: 20%;
}
span{
    color: rgba(129, 0, 250, 0.993);
}